#Build Directories
[Dd]ebug/
[Rr]elease/
.atmel-start-backup

#Build Results
*.o
*.d
*.eep
*.elf
*.hex
*.map
*.srec

#User Specific Files
*.atsuo

#Temp files
*~*.*
saml10_qt8_lp1/saml10_qt8_lp1.X/nbproject/Makefile-genesis.properties
saml10_qt8_lp1/saml10_qt8_lp1.X/nbproject/Makefile-impl.mk
saml10_qt8_lp1/saml10_qt8_lp1.X/nbproject/Makefile-local-Release.mk
saml10_qt8_lp1/saml10_qt8_lp1.X/nbproject/Makefile-Release.mk
saml10_qt8_lp1/saml10_qt8_lp1.X/nbproject/Makefile-variables.mk
saml10_qt8_lp1/saml10_qt8_lp1.X/nbproject/Package-Release.bash
saml10_qt8_lp1/saml10_qt8_lp1.X/nbproject/private/configurations.xml
saml10_qt8_lp1/saml10_qt8_lp1.X/nbproject/private/private.xml
saml10_qt8_lp1/saml10_qt8_lp1.X/nbproject/Makefile-Debug.mk
saml10_qt8_lp1/saml10_qt8_lp1.X/nbproject/Makefile-local-Debug.mk
saml10_qt8_lp1/saml10_qt8_lp1.X/nbproject/Package-Debug.bash
firmware_buttons_dv/saml10_qt8_buttons_dv/saml10_qt8_buttons_dv/saml10_qt8_buttons_dv.X/nbproject/Makefile-genesis.properties
firmware_buttons_dv/saml10_qt8_buttons_dv/saml10_qt8_buttons_dv/saml10_qt8_buttons_dv.X/nbproject/Makefile-impl.mk
firmware_buttons_dv/saml10_qt8_buttons_dv/saml10_qt8_buttons_dv/saml10_qt8_buttons_dv.X/nbproject/Makefile-local-Release.mk
firmware_buttons_dv/saml10_qt8_buttons_dv/saml10_qt8_buttons_dv/saml10_qt8_buttons_dv.X/nbproject/Makefile-Release.mk
firmware_buttons_dv/saml10_qt8_buttons_dv/saml10_qt8_buttons_dv/saml10_qt8_buttons_dv.X/nbproject/Makefile-variables.mk
firmware_buttons_dv/saml10_qt8_buttons_dv/saml10_qt8_buttons_dv/saml10_qt8_buttons_dv.X/nbproject/Package-Release.bash
firmware_buttons_dv/saml10_qt8_buttons_dv/saml10_qt8_buttons_dv/saml10_qt8_buttons_dv.X/nbproject/private/configurations.xml
firmware_buttons_dv/saml10_qt8_buttons_dv/saml10_qt8_buttons_dv/saml10_qt8_buttons_dv.X/nbproject/private/private.xml
firmware_buttons_dv/saml10_qt8_buttons_dv/saml10_qt8_buttons_dv/saml10_qt8_buttons_dv.X/Makefile
